* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  color: rgb(8, 59, 72);
}

ul {
  list-style: none;
}

button {
  font-weight: 800;
  padding: 0.25em 0.5em;
  border-radius: 6px;
  color: rgb(59, 16, 16);
}

.d-flex {
  display: flex;
}

body > h1 {
  padding: 1em;
  text-shadow: 0 0.1em 0.1em rgb(249, 104, 200);
}

/* Recent Scores */
.recent-scores,
.add-scores {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
}

.recent-scores-header {
  justify-content: space-between;
  font-style: oblique;
  text-shadow: 0 0.1em 0.1em rgb(249, 104, 200);
}

.score-list {
  border: 2px solid rgb(141, 4, 95);
  border-radius: 6px;
  margin: 1em 0;
}

.scrore-list-item {
  padding: 0.5em;
}

.scrore-list-item:nth-child(even) {
  background-color: rgb(254, 200, 242);
}

.recent-scores-header,
.score-list {
  width: 100%;
}

/* New Scores */

.add-scores {
  font-style: oblique;
  text-shadow: 0 0.1em 0.1em rgb(249, 104, 200);
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

form > input {
  margin: 1em 0;
  padding: 0.5em;
  background-color: rgb(254, 200, 242);
}

form > button {
  margin: 1em 0;
  align-self: flex-end;
}
